absl-py==0.6.1
astor==0.7.1
bleach==1.5.0
boto==2.49.0
boto3==1.9.71
botocore==1.12.71
bz2file==0.98
certifi==2018.10.15
chardet==3.0.4
decorator==4.3.0
docutils==0.14
enum34==1.1.6
gast==0.2.1.post0
gensim==3.6.0
grpcio==1.17.1
html5lib==0.9999999
idna==2.8
ipykernel==5.1.0
ipython==5.8.0
ipython-genutils==0.2.0
jieba==0.39
jmespath==0.9.3
jupyter-client==5.2.3
jupyter-core==4.4.0
Markdown==3.0.1
nltk==3.4
numpy==1.15.4
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
Pygments==2.2.0
python-dateutil==2.7.5
pyzmq==17.1.2
requests==2.21.0
s3transfer==0.1.13
scikit-learn==0.20.2
scipy==1.2.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.7.1
tensorboard==1.8.0
tensorflow-gpu==1.8.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
tornado==5.1.1
traitlets==4.3.2
UNKNOWN==0.0.0
urllib3==1.24.2
wcwidth==0.1.7
Werkzeug==0.14.1
